<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}">
  {% include head.html %}
  <body>
    <div class="container site-main">
      <table class="layout-table">
        <colgroup>
          <col class="sidebar-col">
          <col class="content-col">
        </colgroup>
        <tr>
          <td class="sidebar">
            {% include sidebar.html %}
          </td>
          <td class="content">
            {{ content }}
          </td>
        </tr>
      </table>
    </div>
    <!-- No scripts needed for retro simplicity -->
  </body>
</html>
